.App {
  display: flex;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sideBar {
    width: 30%;
    height: 100vh;
    overflow-y: scroll;
}
.sideBar label {
    width: 100%;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.sideBar input {
    width: 100%;
    padding: 10px 12px;
    font-size: 1.1em;
}
.map {
    width: 70%;
}

.listPlaces {
    list-style: none;
    padding: 0;
}

.listPlaces li {
    padding: 15px 10px;
    cursor: pointer;
}

.foursquare-logo-details {
    width: 200px;
    border: 2px solid blue;
    padding: 10px;
}

.foursquare-logo-list {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
}