.App {
  display: flex;
}


/*when menu is closed, flex 1 take the whole remained width, because the nav is removed from natural flow with pos absolute*/
.right-col {
    flex: 1;
    transform: translate(0,0);
    transition: transform .3s;
}

/*when menu is opened, the map is nudged to right by 300px, the width of menu*/
.right-col.open {
  transform: translate(300px,0);
}
.header {
    color: #EA4335;
    background-color: #2E3D49;
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.header button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    margin-left: 8px;
}

.header button:focus {
    outline: none;
    border: 2px solid #EA4335;
}
.header button span {
    display: block;
    height: 5px;
    margin-top: 5px;
    width: 100%;
    background: #EA4335;
}


/*by having position absolute, is removed from natural flow*/
.sideBar {
    width: 300px;
    position: absolute;
    height: 100vh;
    overflow-y: scroll;
    background-color: #2E3D49;
    color: #c1c1c1;
}
.sideBar label {
    width: 100%;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    line-height: 2em;
}
.sideBar input {
    width: 100%;
    padding: 10px 12px;
    font-size: 1.1em;
}

.sideBar input:focus {
    outline: 3px solid #EA4335;
}

.sideBar input::placeholder {
    font-size: 0.8em;
}

/*workaround for accessibility issues when menu is hidden*/
.sideBar.closed {
    visibility: hidden;
    transition: visibility .4s;
}

.listPlaces {
    list-style: none;
    padding: 0;
}

.location-item {
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #c1c1c1;
    font-size: 1.1em;
    padding: 13px 0 13px 10px;
    text-align: left;
    cursor: pointer;
}

.location-item:hover {
    color: #fff;
}

.location-item:focus {
    outline: 3px solid #EA4335;
}

.foursquare-logo-details {
    width: 200px;
    border: 2px solid blue;
    padding: 10px;
}

.foursquare-logo-list {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
}

/*media query */

@media screen and (max-width: 640px) {
    .header h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 380px) {
    .sideBar {
        width: 280px;
    }
    
    .right-col.open {
      transform: translate(280px,0);
    }
}














