.App {
  display: flex;
    flex-wrap: wrap;
}

.header {
    color: #EA4335;
    background-color: #2E3D49;
    text-align: center;
    padding: 15px 0;
}

.header h1 {
    margin: 0;
}

.sideBar {
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #2E3D49;
    color: #c1c1c1;
}
.sideBar label {
    width: 100%;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    line-height: 2em;
}
.sideBar input {
    width: 100%;
    padding: 10px 12px;
    font-size: 1.1em;
}

.sideBar input::placeholder {
    font-size: 0.8em;
    
}
.map {
    width: 75%;
}

.listPlaces {
    list-style: none;
    padding: 0;
}

.listPlaces li {
    padding: 15px 10px;
    cursor: pointer;
}

.listPlaces li:hover {
    color: #fff;
}

.foursquare-logo-details {
    width: 200px;
    border: 2px solid blue;
    padding: 10px;
}

.foursquare-logo-list {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
}